body {
    font-family: Calibri, sans-serif;
}

.singles-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
}

.filter-container input[type="text"],
.filter-container input[type="number"],
.filter-container button {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
}

.filter-container input[type="checkbox"] {
    margin-right: 5px;
    height: 20px;
}

.pokemon-image {
    width: 100%;
    padding-bottom: 4%;
    background-size: cover;
    background-position: center;
    height: 357.83px;
}

.individual-container {
    width: 250px;
    border-radius: 5px;
    border: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

    .individual-container:hover {
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    }

.pokemon-name {
    font-size: 16px;
    margin-top: 10px;
    text-align: center;
}

.pokemon-price {
    font-size: 18px;
    font-weight: bold;
    margin-top: 5px;
    text-align: center;
}

.preview-button {
    opacity: 1;
    outline: 0;
    line-height: 40px;
    position: relative;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    width: 80%;
}

    .preview-button:hover:after {
        opacity: 1;
        transform: translateY(0) rotateX(0);
    }

    .preview-button:hover:before {
        opacity: 0;
        transform: translateY(50%) rotateX(90deg);
    }

    .preview-button:after {
        border-radius: 5px;
        top: 0;
        left: 0;
        opacity: 0;
        width: 100%;
        color: white;
        display: block;
        transition: 0.5s;
        position: absolute;
        background: #BDA13E;
        content: attr(data-back);
        transform: translateY(-50%) rotateX(90deg);
        margin-bottom: 10px;
        letter-spacing: 1px;
    }

    .preview-button:before {
        border-radius: 5px;
        top: 0;
        left: 0;
        opacity: 1;
        color: white;
        display: block;
        padding: 0 30px;
        line-height: 40px;
        transition: 0.5s;
        position: relative;
        background: #7851A9;
        content: attr(data-front);
        transform: translateY(0) rotateX(0);
        margin-bottom: 10px;
        letter-spacing: 1px;
    }

button.dropdown-toggle {
    border: none;
    background-color: inherit;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative; 
}

.filter-label {
    margin-top: 15px;
    font-size: 18px;
    letter-spacing: 1px;
}

.rarityCount {
    float: right;
    margin-top: 7px;
    margin-right: 45px;
}

.filter-option {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.filter-option input[type="checkbox"] {
    margin-right: 10px;
}

.filter-container {
    width: 18%;
    margin-left: 2%;
    margin-right: 2%;
    float: left;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
}

.filter-arrow {
    background-image: url('../assets/arrow.png');
    height: 20px;
    width: 20px;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 15px;
    transition: transform 0.3s ease;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.filter-arrow.open-filter {
    transform: rotate(180deg) translateY(-50%);
}

.dropdown-content {
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: max-height 0.3s ease, opacity 0.3s ease;
}

.dropdown-content.show {
    max-height: 1000px;
    opacity: 1;
 }

button.show-more {
    background: none;
    border: none;
    color: #007bff;
    cursor: pointer;
    text-decoration: underline;
    display: flex;
    align-items: center;
}

.extra-options {
    display: none;
}

.extra-options.show-all {
    display: block;
}
