body {
    font-family: Calibri, sans-serif;
}

.singles-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
    order: 1;
}

.filter-container input[type="text"],
.filter-container input[type="number"],
.filter-container button {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
}

.filter-container input[type="checkbox"] {
    margin-right: 5px;
    height: 20px;
}

.pokemon-image {
    width: 100%;
    padding-bottom: 4%;
    background-size: cover;
    background-position: center;
    height: 357.83px;
}

.individual-container {
    width: 250px;
    border-radius: 5px;
    border: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.individual-container:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.pokemon-name {
    font-size: 16px;
    margin-top: 10px;
    text-align: center;
}

.pokemon-price {
    font-size: 18px;
    font-weight: bold;
    margin-top: 5px;
    text-align: center;
}

.preview-button {
    opacity: 1;
    outline: 0;
    line-height: 40px;
    position: relative;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    width: 80%;
}

.preview-button:hover:after {
    opacity: 1;
    transform: translateY(0) rotateX(0);
}

.preview-button:hover:before {
    opacity: 0;
    transform: translateY(50%) rotateX(90deg);
}

.preview-button:after {
    border-radius: 5px;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    color: white;
    display: block;
    transition: 0.5s;
    position: absolute;
    background: #BDA13E;
    content: attr(data-back);
    transform: translateY(-50%) rotateX(90deg);
    margin-bottom: 10px;
    letter-spacing: 1px;
}

.preview-button:before {
    border-radius: 5px;
    top: 0;
    left: 0;
    opacity: 1;
    color: white;
    display: block;
    padding: 0 30px;
    line-height: 40px;
    transition: 0.5s;
    position: relative;
    background: #7851A9;
    content: attr(data-front);
    transform: translateY(0) rotateX(0);
    margin-bottom: 10px;
    letter-spacing: 1px;
}

button.dropdown-toggle {
    border: none;
    background-color: inherit;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.filter-label {
    margin-top: 15px;
    font-size: 18px;
    letter-spacing: 1px;
}

.rarityCount, .setNameCount, .typeNameCount {
    justify-content: flex-end;
    float: right;
}

.filter-option input[type="checkbox"] {
    margin-right: 10px;
}

.filter-container {
    width: 18%;
    margin-left: 2%;
    margin-right: 2%;
    float: left;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
}

.filter-arrow {
    background-image: url('../assets/arrow.png');
    height: 20px;
    width: 25px;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 100px;
    position: absolute;
    transform: translateY(-50%);
    float: right;
    margin-top: 25px;
}

.filter-arrow.open-filter {
    transform: rotate(180deg) translateY(-50%);
    float: right;
    margin-top: 8px;
}

button.show-more {
    background: none;
    border: none;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    align-items: center;
    float: left;
    color: #7851A9;
    font-weight: bold;
    margin-top: 7px;
}

.extra-options {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: 0.3s ease;
}

.extra-options.show-all {
    max-height: 100000px;
    opacity: 1;
}

.content {
    display: flex;
    flex-direction: column;
}

.pagination {
    order: 2;
    text-align: center;
}

.page-button {
    padding: 15px 20px;
    font-size: 18px;
    margin: 0 5px;
    border: 2px solid #aaa;
    border-radius: 5px;
    background-color: transparent;
    color: black;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin-top: 20px;
}

.page-button:hover {
    background-color: #aaa;
    color: #fff;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    overflow: auto;
}

.modal-content {
    background-color: white;
    margin: 5% auto;
    padding: 20px;
    border: 3px solid #ccc;
    border-radius: 5px;
    width: 45%;
    max-width: 900px;
    display: flex;
    align-items: flex-start;
    gap: 15px;
    box-sizing: border-box;
    position: relative;
}

.modal-content img {
    width: 60%;
    max-width: 350px;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
}

.modal-information {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    margin-top: 30px;
}

.close {
    color: #aaa;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}

.close:hover, .close:focus {
    color: red;
    text-decoration: none;
    font-size: 20px;
}

.quantity-controls {
    margin-bottom: 20px;
}

.minus-one, .quantity, .plus-one {
    padding: 10px 15px;
    font-size: 20px;
    margin: 0 10px;
    border-radius: 5px;
    border: 2px solid #aaa;
    color: black;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    text-align: center;
}

.minus-one:hover, .quantity:hover, .plus-one:hover {
    background-color: #ddd;
}

.modal-title, .modal-price, .modal-quantity {
    font-weight: bold;
}

.modal-price, .modal-title {
    margin: 0;
}

.modal-title {
    font-size: 40px;
}

.modal-price {
    font-size: 30px;
}

.preview-button.small {
    margin-left: 27px;
}
