@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm Email";
}

<h1>@ViewData["Title"]</h1>

<div>
    @if (!string.IsNullOrEmpty(Model.Message))
    {
        <div class="alert alert-info" role="alert">
            @Html.Raw(Model.Message)
        </div>
    }
</div>

<p><a asp-page="/Index">Back to home</a></p>
