@page
@model FuwaCards.Pages.singlesModel
@{
}

<div class="singles-container"> 
	<div class="individual-container">
		<div class="pokemon-image"> </div>
		<p class="pokemon-name"> Lavitar Illustration Rare (OBF 203/197) </p>
		<p class="pokemon-price"> £2.50 </p>
		<a href="#" class="btn-flip" data-back="See More" data-front="See More"></a>
	</div>
</div>
